In [2]:
import pandas as pd

In [3]:
files = ['data/jan2022.csv', 'data/feb2022.csv', 'data/mar2022.csv', 'data/apr2022.csv']

In [4]:
dataframes = [pd.read_csv(file) for file in files]
merged_data = pd.concat(dataframes, ignore_index=True)

In [5]:
merged_data

,YEAR,QUARTER,MONTH,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY_NEW,CANCELLED,CANCELLATION_CODE,AIR_TIME,DISTANCE,WEATHER_DELAY
0,2022,1,1,1/1/2022 12:00:00 AM,9E,N181GJ,4635,VPS,ATL,630,625.0,0.0,0.0,NaN,45.0,250.0,NaN
1,2022,1,1,1/1/2022 12:00:00 AM,9E,N181PQ,5087,GNV,ATL,630,629.0,0.0,0.0,NaN,52.0,300.0,NaN
2,2022,1,1,1/1/2022 12:00:00 AM,9E,N186PQ,5324,ATL,GNV,1355,1350.0,0.0,0.0,NaN,50.0,300.0,NaN
3,2022,1,1,1/1/2022 12:00:00 AM,9E,N186PQ,5324,GNV,ATL,1630,1654.0,24.0,0.0,NaN,48.0,300.0,0.0
4,2022,1,1,1/1/2022 12:00:00 AM,9E,N186PQ,5454,ATL,GNV,820,815.0,0.0,0.0,NaN,52.0,300.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413819,2022,2,4,4/30/2022 12:00:00 AM,YX,N858RW,3413,EWR,EYW,1817,1813.0,0.0,0.0,NaN,164.0,1196.0,NaN
413820,2022,2,4,4/30/2022 12:00:00 AM,YX,N858RW,3525,ORD,JAX,1040,1040.0,0.0,0.0,NaN,113.0,864.0,NaN
413821,2022,2,4,4/30/2022 12:00:00 AM,YX,N858RW,3678,JAX,EWR,1456,1451.0,0.0,0.0,NaN,117.0,820.0,NaN
413822,2022,2,4,4/30/2022 12:00:00 AM,YX,N979RP,3632,ORD,EYW,1035,1030.0,0.0,0.0,NaN,156.0,1251.0,NaN
413823,2022,2,4,4/30/2022 12:00:00 AM,YX,N979RP,3680,EYW,ORD,1524,1655.0,91.0,0.0,NaN,NaN,1251.0,NaN

In [6]:
merged_data.to_csv('2022_jan_to_apr.csv', index=False)
print("Данные успешно объединены в файл 2022_jan_to_apr.csv!")

Данные успешно объединены в файл 2022_jan_to_apr.csv!

In [8]:
merged_data.shape[1]

17

In [4]:
df = pd.read_csv('data_src/weather_kmlb.csv', sep=';')
df.head(10)

,Local time in Melbourne (airport),T,P0,P,U,DD,Ff,ff10,WW,W'W',c,VV,Td,Unnamed: 13
0,30.04.2024 23:53,22.0,760.8,761.7,88.0,Wind blowing from the south-southeast,3.0,NaN,NaN,NaN,No clouds,16.0,20.0,NaN
1,30.04.2024 22:53,23.0,761.1,762.0,78.0,Wind blowing from the south-southeast,3.0,NaN,NaN,NaN,No clouds,16.0,19.0,NaN
2,30.04.2024 21:53,23.0,761.1,762.0,89.0,Wind blowing from the south-southeast,4.0,NaN,NaN,NaN,No clouds,16.0,21.0,NaN
3,30.04.2024 20:53,24.0,760.8,761.7,78.0,Wind blowing from the south-east,4.0,NaN,NaN,NaN,No clouds,16.0,20.0,NaN
4,30.04.2024 19:53,24.0,760.8,761.7,83.0,Wind blowing from the east-southeast,5.0,NaN,NaN,NaN,"Few clouds (10-30%) 420 m, scattered clouds (4...",16.0,21.0,NaN
5,30.04.2024 18:53,23.0,760.6,761.5,83.0,Wind blowing from the east-southeast,4.0,NaN,NaN,NaN,No clouds,16.0,20.0,NaN
6,30.04.2024 17:53,24.0,760.3,761.2,74.0,Wind blowing from the east,6.0,NaN,NaN,NaN,Few clouds (10-30%) 2850 m,16.0,19.0,NaN
7,30.04.2024 16:53,24.0,760.3,761.2,74.0,Wind blowing from the east-southeast,7.0,10.0,NaN,NaN,No clouds,16.0,19.0,NaN
8,30.04.2024 15:53,24.0,760.3,761.2,74.0,Wind blowing from the east,7.0,NaN,NaN,NaN,No clouds,16.0,19.0,NaN
9,30.04.2024 14:53,24.0,760.6,761.5,74.0,Wind blowing from the east,7.0,NaN,NaN,NaN,No clouds,16.0,19.0,NaN

In [8]:
df.drop(columns=['Unnamed: 13'], inplace=True)

In [9]:
df.head(10)

,Local time in Melbourne (airport),T,P0,P,U,DD,Ff,ff10,WW,W'W',c,VV,Td
0,30.04.2024 23:53,22.0,760.8,761.7,88.0,Wind blowing from the south-southeast,3.0,NaN,NaN,NaN,No clouds,16.0,20.0
1,30.04.2024 22:53,23.0,761.1,762.0,78.0,Wind blowing from the south-southeast,3.0,NaN,NaN,NaN,No clouds,16.0,19.0
2,30.04.2024 21:53,23.0,761.1,762.0,89.0,Wind blowing from the south-southeast,4.0,NaN,NaN,NaN,No clouds,16.0,21.0
3,30.04.2024 20:53,24.0,760.8,761.7,78.0,Wind blowing from the south-east,4.0,NaN,NaN,NaN,No clouds,16.0,20.0
4,30.04.2024 19:53,24.0,760.8,761.7,83.0,Wind blowing from the east-southeast,5.0,NaN,NaN,NaN,"Few clouds (10-30%) 420 m, scattered clouds (4...",16.0,21.0
5,30.04.2024 18:53,23.0,760.6,761.5,83.0,Wind blowing from the east-southeast,4.0,NaN,NaN,NaN,No clouds,16.0,20.0
6,30.04.2024 17:53,24.0,760.3,761.2,74.0,Wind blowing from the east,6.0,NaN,NaN,NaN,Few clouds (10-30%) 2850 m,16.0,19.0
7,30.04.2024 16:53,24.0,760.3,761.2,74.0,Wind blowing from the east-southeast,7.0,10.0,NaN,NaN,No clouds,16.0,19.0
8,30.04.2024 15:53,24.0,760.3,761.2,74.0,Wind blowing from the east,7.0,NaN,NaN,NaN,No clouds,16.0,19.0
9,30.04.2024 14:53,24.0,760.6,761.5,74.0,Wind blowing from the east,7.0,NaN,NaN,NaN,No clouds,16.0,19.0

In [10]:
df.to_csv('data_src/weather_kmlb_cleared.csv', index=False)